.idea
input/csv/*
input/zip/*
!input/zip/utf8_2010.csv.zip
input/names
input/settlements/raw/settlements.xls
output/*
imgs
geocode/**/agrar_raw_*
geocode/agrar_output*
scripts/.ipynb_checkpoints
local/*
venv
.Rproj.user
